html, body, #app {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 40px;
    left: 40px;
}


#canvas, #main {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
}